body {
  margin: 0;
  background-color: #111111;
}

h1{
  font-family: monospace;
  color: lightsteelblue;
}

button {
  width: 40px;
  height: 40px;
  margin: 2px;
  padding: 10px;
  background-color: lightsteelblue;
  font-family: monospace;
  border-radius: 5px;
}

.previousNumber {
  color: gray;
}

#container {
  text-align: center;
  margin: 100px;
}

#display {
  height: 28px;
  width: 126px;
  font-family: monospace;
  color: black;
  text-align: right;
  padding: 5px;
  background-color: lightsteelblue;
}

#line1 {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 184px;
  height: 45px;
  margin: auto;
}
