header{
  margin: 100px;
}

button {
  width: 40px;
  height: 40px;
  margin: 2px;
  padding: 10px;
  background-color: lightsteelblue;
  border-radius: 5px;
}

#container {
  text-align: center;
  margin: 100px;
}

#display {
  height: 28px;
  width: 124px;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: monospace;
  color: black;
  text-align: right;
  padding: 5px;
}

#line1 {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 184px;
  height: 45px;
  margin: auto;
}
